.box {
  color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  word-break: break-all;
  column-count: 2;
  transform: scale(1.5) rotate(2deg) translate(25%, 20%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: linear-gradient(to top, #4cb8c4, #3cd3ad);
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  border: 10px dashed #fc0;
}

.box2 {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px 2fr 1fr;
}

.box2__elem {
  background-color: #00a380;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
